<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="vendors/angular.min.js" charset="utf-8"></script>
  <script src="scripts/client.js" charset="utf-8"></script>
  <!-- Latest compiled and minified bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <title>Angular Launchpad</title>
</head>
<body ng-app="app">
  <div class="container">
    <h1 class="text-center">Angular Launchpad</h1>
    <div ng-controller="LaunchpadController">
      <form class="form-inline" ng-submit="addAnimal(); resetForm();">
        <div class="form-group">
          <label>Species: </label>
          <input type="text" ng-model="speciesIn" placeholder="species" class="form-control" required>
        </div>
        <div class="form-group">
          <label>Name: </label>
          <input type="text" ng-model="nameIn" placeholder="name" class="form-control" required>
        </div>
        <div class="form-group">
          <label>Age: </label>
          <input type="text" ng-model="ageIn" placeholder="age" class="form-control" required>
        </div>
        <span ng-show="isPopulated(speciesIn)">Currently Adding: {{ speciesIn }}</span>
        <span ng-show="isPopulated(nameIn)">: {{ nameIn }}</span>
        <span ng-show="isPopulated(ageIn)">({{ ageIn }})</span>
        <button type="submit" ng-click="" class="btn btn-primary">Add animal</button>
      </form>

      <hr>

      <ul>
        <li ng-repeat="animal in allAnimals" >{{ animal.type }}: {{animal.name}} ({{animal.age}})</li>
      </ul>

      <form class="form-inline">
        <label>Show Name Buttons?:</label>
        <input type="checkbox" ng-model="animalButtons">
      </form>

      <div ng-show="animalButtons">
        <button type="button" ng-repeat="animal in allAnimals" class="btn btn-success">{{animal.name}}</button>
      </div>



    </div>
  </div>

</body>
</html>
